<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear/>
    <add name="AspnetDbConnString" connectionString="Filename=YibiDb.ldb"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <membership defaultProvider="LiteDbMembershipProvider" hashAlgorithmType="SHA1">
      <providers>
        <clear/>
        <add name="LiteDbMembershipProvider" type="Yibi.LiteDbMembershipProvider.LiteDbMembershipProvider,Yibi.LiteDbMembershipProvider" connectionStringName="AspnetDbConnString" applicationName="YibiApp" requiresUniqueEmail="false" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" passwordFormat="Hashed" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" maxInvalidPasswordAttempts="15" passwordAttemptWindow="10" passwordStrengthRegularExpression="^([0-9a-zA-Z]+){6,30}$"/>
      </providers>
    </membership>
    <roleManager defaultProvider="LiteDbRoleProvider" enabled="true" cookieName=".YibiAppRole" cookiePath="/" cookieProtection="All" cookieRequireSSL="false" cookieSlidingExpiration="true" cookieTimeout="30" createPersistentCookie="false" cacheRolesInCookie="true" maxCachedResults="25">
      <providers>
        <clear/>
        <add name="LiteDbRoleProvider" type="Yibi.LiteDbMembershipProvider.LiteDbRoleProvider,Yibi.LiteDbMembershipProvider" connectionStringName="AspnetDbConnString" applicationName="YibiApp"/>
      </providers>
    </roleManager>
  </system.web>
  
</configuration>